.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

canvas {
  image-rendering: pixelated;
}

h1 {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 16px;
  text-align: center;
}

.subpackages {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5em;
  font-size: 0.8em;
}

.subpackages li {
  margin: 0;
  padding: 0;
}

.package-name {
  font-weight: bold;
  color: #44aaff;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
}

.about {
  max-width: 80vw;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.about .explanation {
  font-size: 0.8em;
}

.params {
  max-width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.param {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &.odd {
    align-items: flex-end;
  }
  &.param-row {
    flex-direction: row;
  }
  justify-content: flex-start;
  width: 38vw;
  position: relative;
}

.slider-picker {
  flex: 1;
}

.layers-list {
  padding: 8px 8px 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}