.color-swatch {
  display: flex;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  cursor: "pointer";
  border-radius: 100%;
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}